<div id="middle-button">
    <a href="./index.html" class="margin btn btn-outline-dark text-light" style="background-color: rgb(241, 129, 72);" role="button" data-bs-toggle="button"><strong>Back</strong></a>
    <a href="./pagetwo.html" class="margin btn btn-outline-dark text-light" style="background-color: rgb(241, 129, 72);" role="button" data-bs-toggle="button"><strong>Next</strong></a>

</div>