
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Home</a></li>
            {{#if userloggedin}}
            <li id=""><a href="/">Write review</a></li>

            {{else}}
            <li id="signin"><a href="/signin">Login</a></li>
            <li id="signup"><a href="/signup">Sign-up</a></li>
            {{/if}}
        </ul>
    </nav>

