{{!-- back button for page 2 --}}

<div id="middle-button">
    <a href="/page1" class="margin btn btn-outline-dark text-light bg-orange" role="button" data-bs-toggle="button"><strong>Back</strong></a>
</div>