<div class="row">

    <div class="image card m-2 border-dark" id="seven" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/7. InterContinental Melbourne The Rialto.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">InterContinental Melbourne</h5>
            <a href="./reviews.html" class="btn" style="background-color: rgb(246, 197, 173);">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="eight" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/8. Lancemore Crossley St.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Lancemore Crossley St</h5>
            <a href="./reviews.html" class="btn" style="background-color: rgb(246, 197, 173);">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="nine" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/9. Le Méridien Melbourne.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Le Méridien Melbourne</h5>
            <a href="./reviews.html" class="btn" style="background-color: rgb(246, 197, 173);">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="ten" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/10. Melbourne Marriott Hotel Docklands.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Marriott Hotel Docklands</h5>
            <a href="./reviews.html" class="btn" style="background-color: rgb(246, 197, 173);">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="eleven" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/11. Melbourne Marriott Hotel.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Marriott Hotel</h5>
            <a href="./reviews.html" class="btn" style="background-color: rgb(246, 197, 173);">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="twelve" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/12. Next Hotel Melbourne.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Next Hotel Melbourne</h5>
            <a href="./reviews.html" class="btn" style="background-color: rgb(246, 197, 173);">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="thirteen" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/13. Pan Pacific Melbourne.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Pan Pacific Melbourne</h5>
            <a href="./reviews.html" class="btn" style="background-color: rgb(246, 197, 173);">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="fourteen" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/14. Park Hyatt Melbourne.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Park Hyatt Melbourne</h5>
            <a href="./reviews.html" class="btn" style="background-color: rgb(246, 197, 173);">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="fiveteen" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/15. Peppers Docklands.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Peppers Docklands</h5>
            <a href="./reviews.html" class="btn" style="background-color: rgb(246, 197, 173);">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="sixteen" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/16. Platinum Apartments at Freshwater Place.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Platinum Freshwater Place</h5>
            <a href="./reviews.html" class="btn" style="background-color: rgb(246, 197, 173);">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="seventeen" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/17. Platinum Apartments at The Victoria Rooftop Penthouse.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Platinum Victoria Penthouse</h5>
            <a href="./reviews.html" class="btn" style="background-color: rgb(246, 197, 173);">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="eightteen" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/18. Pullman Melbourne on Swanston.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Pullman on Swanston</h5>
            <a href="./reviews.html" class="btn" style="background-color: rgb(246, 197, 173);">Reviews</a>
        </div>
    </div>
</div>