{{!-- Homepage (6 hotels) --}}

<div class="row" id="middle-grid">
        
    <div class="image card m-2 border-dark" id="one" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/1. Adelphi Hotel.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Adelphi Hotel</h5>
            <a href="/reviews" class="btn text-dark bg-peach">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="two" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/2. Crown Metropol Melbourne.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Crown Metropol Melbourne</h5>
            <a href="/reviews" class="btn text-dark bg-peach">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="three" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/3. Crown Towers Melbourne.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Crown Towers Melbourne</h5>
            <a href="/reviews" class="btn text-dark bg-peach">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="four" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/4. Grand Hyatt Melbourne.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Grand Hyatt Melbourne</h5>
            <a href="/reviews" class="btn text-dark bg-peach">Reviews</a>
        </div>
    </div>

    <div class="image card m-2 border-dark" id="five" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/5. Hilton Melbourne Little Queen St.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Hilton Little Queen St</h5>
            <a href="/reviews" class="btn text-dark bg-peach">Reviews</a>
        </div>
    </div>
   
    <div class="image card m-2 border-dark" id="six" style="width: 18rem; height: 19rem;">
        <div class="image container mx-auto mt-3">
            <img src="./assets/images/6. Hyatt Centric Melbourne.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Hyatt Centric Melbourne</h5>
            <a href="/reviews" class="btn text-dark bg-peach">Reviews</a>
        </div>
    </div>
</div>