 <div id="middle-button">
    <a href="/page1" class="margin btn btn-outline-dark text-light" style="background-color: rgb(241, 129, 72);" role="button" data-bs-toggle="button"><strong>Back</strong></a>
</div>