{{!-- back and next button for page 1 --}}

<div id="middle-button">
    <a href="/page0" class="margin btn btn-outline-dark text-light bg-orange" role="button" data-bs-toggle="button"><strong>Back</strong></a>
    <a href="/page2" class="margin btn btn-outline-dark text-light bg-orange" role="button" data-bs-toggle="button"><strong>Next</strong></a>
</div>