{{!-- Background image on Homepage --}}

<div class="container-fluid">
    <img src="/images/Skyline-Graphic2.jpg" class="img-fluid rounded mx-auto d-block" style="width: 100%; height: auto;" alt="..."></div>
</div>