{{!-- Nav Bar Section --}}

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Melbourne Hotel Hunter</a></li>
        {{#if userLoggedIn}}
        <li id="logout"><a href="/logout">Sign Out</a></li>
        {{else}}
        <li id="signIn"><a href="/signIn">Sign In</a></li>
        <li id="signUp"><a href="/signUp">Sign Up</a></li>
        {{/if}}
    </ul>
</nav>
