<<<<<<< HEAD
{{!-- Nav Bar Section --}}

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Melbourne Hotel Hunter</a></li>
        {{#if userLoggedIn}}
        <li id="logout"><a href="/logout">Sign Out</a></li>
        {{else}}
        <li id="signIn"><a href="/signIn">Sign In</a></li>
        <li id="signUp"><a href="/signUp">Sign Up</a></li>
        {{/if}}
    </ul>
</nav>
=======
<nav class="navbar navbar-expand-lg rounded static-top m-5" style="background-color: rgb(246, 197, 173);">
    <div class="container">
        <a class="navbar-brand text-dark" href="/">
            <h1><strong>Melbourne Hotel Hunter</strong></h1>
        </a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button class="btn btn-outline-dark text-light m-5" style="background-color: rgb(241, 129, 72);" type="button"><strong>Sign Up</strong></button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-dark text-light m-5" style="background-color: rgb(241, 129, 72);" type="button"><strong>Sign In</strong></button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-dark text-light m-5" style="background-color: rgb(241, 129, 72);" type="button"><strong>Sign Out</strong></button>
                </li>
            </ul>
    </div>
</nav>
>>>>>>> e5f357138c518674d8af661da0510b943bd6d9f7
