
{{>header}}

{{>title}}

  {{#each hotels as |hotel|}}
    <div class="blog-posts">
        <div class="blog-post-heading">
            <p>{{hotel.name}}</p> 
            <p>{{hotel.address}}</p> 
        </div>
        <div class="blog-post-text">
            {{hotel.description}}
        </div>
    </div>
{{/each}}
