<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 100%;">
        <img src="./assets/images/Skyline.jpeg" class="card-img-top" alt="..."/>
        <div class="card-body">
          <p class="hotel-title">Hotel title</p>
          <p class="hotel-address">Hotel address</p>
          <p class="hotel-description">Hotel description</p>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="row align-items-center mb-2">
        <a href="#" class="btn" style="background-color: rgb(246, 197, 173);">Write A Review</a>
        <p class="reviews"></p>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Heading</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Review</th>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>