{{>header}}

        <div class="modal-body sign-in-div bg-peach w-75 my-5 mx-auto">
           <h4 class="mb-3">Sign-up</h4>
          <form>
              <div class="form-group">
                  <label for="name">Name</label>
                  <input type="name" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="surname">Surname</label>
                  <input type="name" class="form-control" id="surname" placeholder="Surname">
                </div>
          
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="Email" aria-describedby="email" placeholder="Enter Email">
              
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="SignupPassword" placeholder="Password">
              </div>
              <div class="form-group">
                  <label for="ReEnterPassword">Re Enter Password</label>
                  <input type="password" class="form-control" id="reEnterPassword" placeholder="Re Enter Password">
                </div>

              <div class="text-center">
                <button id="submit-signup" type="submit" class="btn btn-outline-dark text-light m-1 bg-orange">Signup</button>
              </div>

                {{!-- <div class="text-center">
            <a id="submit-signup" class="btn p-1 bg-orange">Submit</a>
                </div> --}}
            </form>
            <p id="error-message2"></p>
        </div>

{{>footer}}