body {
    background-color: rgb(252, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}   

.row {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.image {
    background-size: cover;
    background-color: aliceblue;
}

.left-side {
    /* display: flex; */
    /* flex-direction: column; */
    
    /* float: left; */
    /* width: 40%; */
}

.right-side {
    margin: 0px;
    padding: 10px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 55%;
    height: 100%;
}