

body {
    background-color: rgb(252, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}   

.row {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.image {
<<<<<<< HEAD
    background-size:cover;
    background-color: aliceblue;
}
=======
    background-size: cover;
    background-color: aliceblue;
}
>>>>>>> a84c22e1a21eae64d1dd8780ab1fbdb8fd38712b
